@import '../../main';

.gpt3__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    background-color: $color-footer;
}

.gpt3__footer-heading{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    h2{
        margin: 4rem 0;
        font-size: 62px;
        font-weight: 800;
        line-height: 75px;
        letter-spacing: -0.04em;
        text-align: center;
    }
    button{
        padding: 1rem 2rem;
        background-color: $color-footer;
        color: #FFF;
        font-size: 18px;
        border: 1px solid #FFF;
        cursor: pointer;
        outline: none;
    }
    button:hover{
        font-size: 20px;
        font-weight: 700;
    }
}

.gpt3__footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6rem;
    flex-wrap: wrap;
    .gpt3__footer-content_logo{
        display: flex;
        flex-direction: column;
        flex: 0.5;
        h2{
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 2rem; 
        }
        p{
            text-align: left;
        }
    }
    .gpt3__footer-content_links{
        flex: 0.5;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 1rem;
        .gpt3__footer-content_links-row{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 0.5;
                margin-bottom: 2rem;
            h4{
                margin-bottom: 4rem;
                font-weight: 800;
                text-align: left;
            }
            p{
                margin-bottom: 2rem;
                text-align: left;
                cursor: pointer;
            }
        }
    }
}
.gpt3__footer-copyright{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1050px){
    .gpt3__footer{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .gpt3__footer-heading{
        width: 100%;
        margin-bottom: 2rem;
        h2{
            margin: 2rem 0;
            font-size: 58px;
            font-weight: 800;
            line-height: 71px;
            letter-spacing: -0.04em;
            text-align: center;
        }
    }
    .gpt3__footer-content{
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .gpt3__footer-content_logo{
            margin-bottom: 3rem;
            h2{
                text-align: center;
                margin-bottom: 1rem;
                font-size: 40px;
            }
            p{
                text-align: center;
            }
        }
        .gpt3__footer-content_links{
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            .gpt3__footer-content_links-row{ 
                h4{
                    margin-bottom: 2rem;
                }
                p{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    .gpt3__footer-heading{
        h2{
            font-size: 54px;
            line-height: 67px;
        }
    }
    .gpt3__footer-content{
        .gpt3__footer-content_logo{
            h2{
                font-size: 36px;
            }
        }
    }
}

@media screen and (max-width: 550px){
    .gpt3__footer-heading{
        h2{
            font-size: 50px;
            line-height: 60px;
        }
    }
    .gpt3__footer-content{
        .gpt3__footer-content_logo{
            h2{
                font-size: 34px;
            }
        }
    }
}

